In [3]:
import pickle

with open('labeled_vacancies_final.pickle', 'rb') as file:
    data = pickle.load(file)

print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [4]:
import requests
from langdetect import detect, DetectorFactory

DetectorFactory.seed = 0

def detect_language(text):
    try:
        lang = detect(text)
        return lang
    except:
        return "unknown"

languages = []
for desc in data['description']:
    lang = detect_language(desc)
    languages.append(lang)

data['language'] = languages

In [6]:
print(data)

                                            description  women_proportion  \
0     Company name: Ministerie van Financi n: Belast...          0.400000
1     Company name: Belastingdienst\n Job requiremen...          0.750000
2     Company name: DUO\n Job requirements: 3 jaar e...          0.500000
3     Company name: Dienst Uitvoering Onderwijs (DUO...          0.500000
4     Company name: ASML Netherlands B.V.\n Job requ...          0.000000
...                                                 ...               ...
2370  Company name: Specialist in parkeeroplossingen...          0.100000
2371  Company name: DUO\n Job requirements: Werkerva...          1.000000
2372  Company name: IT Security organisatie\n Job re...          0.052632
2373  Company name: DUO\n Job requirements: minimaal...          0.000000
2374  Company name: Randstad Global IT Solutions B.V...          0.000000

     language
0          nl
1          nl
2          nl
3          nl
4          en
...       ...
2370       nl
2371       nl
2372       nl
2373       nl
2374       en

[2375 rows x 3 columns]

In [7]:
counts = data['language'].value_counts()

print(counts)

language
nl    1954
en     421
Name: count, dtype: int64

In [8]:
df_nl = df[df['language'] == 'nl']

NameError: name 'df' is not defined

In [9]:
data_nl = data[data['language'] == 'nl']

In [10]:
data_en = data[data['language'] == 'en']